{% extends "base.html" %}
{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='input_form.css') }}">
{% endblock %}
{% block breadcrumbs %}
<li class="active"><a href="/">Enter Values</a></li>
<li>Preview E-Mail</li>
<li>Send E-Mail</li>
{% endblock %}
{% block content %}
  <p>These are the tags found in the template:</p>
  <form name="fields_form" action="{{ url_for('preview_email') }}" method="POST">
    {% for field in fields %}
      <div class='input-group input-form'>
        <span class="input-group-addon" id="basic-addon-{{ field }}">{{ field }}</span>
        <input class="form-control" aria-describedby="basic-addon-{{ field }}" name="{{ field }}" type="text">
      </div>
    {% endfor %}
    <input type="submit" value="Ok" class="btn btn-info"/>
  </form>
{% endblock %}
